@page
@model EvilPlan
@{
    ViewData["Title"] = "Evil Plan";
}
<h1>@ViewData["Title"]</h1>

<h1>1. Get cupcakes</h1>
<h2>2. Eat cupcakes</h2>
<h3>3. Kloa på ben</h3>
<h4>4. Eat cupcakes</h4>
<h5>5. Throw glitter på alla som inte vet...</h5>
