@page
@model IndexModel
@{
    ViewData["Title"] = "Hannas coola sida";
}

<div class="text-center">
    <h1 class="display-4">Mjau! </h1>
    <h3>purri purri nyan nyan~</h3>
    <p>
        We are the cats that will rule the world!
    </p>
  
    <p>Hello, mjau! The time on the server is @DateTime.Now</p>
</div>
